__pycache__/
*.pyc
mlruns/
mlartifacts/
Models_mlflow_essai.ipynb
Models_mlflow_ne.ipynb
.env
# macOS
.DS_Store

# données et artefacts
# *.csv
*.png
# *.ipynb

# Environnements virtuels
venv/
env/
.venv/

# Fichiers de l'éditeur
.vscode/
.idea/

# Fichiers compilés
*.pyo
*.pyd
*.so

# Fichiers de build Docker et cache
*.tar
*.log
*.bak
*.old

# Cache Transformers/HuggingFace
.cache/
